:root {
  --a: rgba(40, 40, 40);
  --b: rgba(16, 19, 15);
  --c: rgba(84, 76, 132);
  --d: rgba(115, 105, 165);
  --e: rgba(139, 130, 182);
  --f: rgba(206, 218, 108);
  --g: rgba(230, 230, 156);
  --h: rgba(246, 248, 227);
}