@use 'base' as v;

input,
textarea {
  align-self: right;
  justify-self: right;
  all: unset;
  @include v.retroUi;
}

#contact-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  grid-template-rows: auto auto auto auto;
  font-family: 'Courier New',
    Courier,
    monospace;

  &:focus {
    z-index: 10;
  }

  & .contact-form {
    &__1 {
      grid-area: 2/1/3/2;
      padding: 1rem;
    }

    &__2 {
      grid-area: 1/1/2/2;
      position: relative;
    }

    &__3 {
      grid-area: 1/2/2/3;
    }

    &__4 {
      grid-area: 2/2/3/3;
    }

    &__5 {
      grid-area: 3/1/4/3;
      height: 200px;
    }

    &__6 {
      grid-area: 4/2/5/3;
      padding: 1rem;
      font-size: 1.5rem;
      color: var(--bg-color);
      font-weight: 800;
      @include v.retroUi;
      background-color: unset;
      align-self: center;
      justify-self: right;

      &:focus {
        box-shadow: 2px 2px 0 0 var(--bg-color), ;
      }
    }
  }

  @media (max-width:950px) {
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-rows: 4rem auto auto auto auto auto auto auto auto;

    & .contact-form {
      &__1 {
        grid-area: 2/1/3/2;
        align-self: center;
        justify-self: center;
        text-align: center;
        padding: .5rem;
      }

      &__2 {
        grid-area: 1/1/2/2;
      }

      &__3 {
        grid-area: 3/1/4/2;
      }

      &__4 {
        grid-area: 4/1/5/2;
      }

      &__5 {
        grid-area: 5/1/6/2;
      }

      &__6 {
        grid-area: 6/1/7/2;
      }
    }
  }
}


.pixelart-github {
  box-shadow: 25px 5px 0 0 var(--bg-color), 30px 5px 0 0 var(--bg-color), 35px 5px 0 0 var(--bg-color), 40px 5px 0 0 var(--bg-color), 45px 5px 0 0 var(--bg-color), 20px 10px 0 0 var(--bg-color), 25px 10px 0 0 var(--bg-color), 30px 10px 0 0 var(--bg-color), 35px 10px 0 0 var(--bg-color), 40px 10px 0 0 var(--bg-color), 45px 10px 0 0 var(--bg-color), 50px 10px 0 0 var(--bg-color), 15px 15px 0 0 var(--bg-color), 20px 15px 0 0 var(--bg-color), 30px 15px 0 0 var(--bg-color), 35px 15px 0 0 var(--bg-color), 40px 15px 0 0 var(--bg-color), 50px 15px 0 0 var(--bg-color), 55px 15px 0 0 var(--bg-color), 10px 20px 0 0 var(--bg-color), 15px 20px 0 0 var(--bg-color), 20px 20px 0 0 var(--bg-color), 50px 20px 0 0 var(--bg-color), 55px 20px 0 0 var(--bg-color), 60px 20px 0 0 var(--bg-color), 10px 25px 0 0 var(--bg-color), 15px 25px 0 0 var(--bg-color), 55px 25px 0 0 var(--bg-color), 60px 25px 0 0 var(--bg-color), 10px 30px 0 0 var(--bg-color), 15px 30px 0 0 var(--bg-color), 55px 30px 0 0 var(--bg-color), 60px 30px 0 0 var(--bg-color), 10px 35px 0 0 var(--bg-color), 15px 35px 0 0 var(--bg-color), 20px 35px 0 0 var(--bg-color), 50px 35px 0 0 var(--bg-color), 55px 35px 0 0 var(--bg-color), 60px 35px 0 0 var(--bg-color), 10px 40px 0 0 var(--bg-color), 15px 40px 0 0 var(--bg-color), 25px 40px 0 0 var(--bg-color), 45px 40px 0 0 var(--bg-color), 50px 40px 0 0 var(--bg-color), 55px 40px 0 0 var(--bg-color), 60px 40px 0 0 var(--bg-color), 15px 45px 0 0 var(--bg-color), 20px 45px 0 0 var(--bg-color), 45px 45px 0 0 var(--bg-color), 50px 45px 0 0 var(--bg-color), 55px 45px 0 0 var(--bg-color), 20px 50px 0 0 var(--bg-color), 25px 50px 0 0 var(--bg-color), 45px 50px 0 0 var(--bg-color), 50px 50px 0 0 var(--bg-color), 25px 55px 0 0 var(--bg-color), 45px 55px 0 0 var(--bg-color);
  height: 5px;
  width: 5px;
}

.pixelart-mail {
  position: absolute;
  top: 0;
  left: 40%;
  box-shadow: 10px 5px 0 0 var(--bg-color), 15px 5px 0 0 var(--bg-color), 20px 5px 0 0 var(--bg-color), 25px 5px 0 0 var(--bg-color), 30px 5px 0 0 var(--bg-color), 35px 5px 0 0 var(--bg-color), 40px 5px 0 0 var(--bg-color), 45px 5px 0 0 var(--bg-color), 50px 5px 0 0 var(--bg-color), 55px 5px 0 0 var(--bg-color), 60px 5px 0 0 var(--bg-color), 5px 10px 0 0 var(--bg-color), 10px 10px 0 0 var(--bg-color), 15px 10px 0 0 var(--bg-color), 55px 10px 0 0 var(--bg-color), 60px 10px 0 0 var(--bg-color), 65px 10px 0 0 var(--bg-color), 5px 15px 0 0 var(--bg-color), 15px 15px 0 0 var(--bg-color), 20px 15px 0 0 var(--bg-color), 50px 15px 0 0 var(--bg-color), 55px 15px 0 0 var(--bg-color), 65px 15px 0 0 var(--bg-color), 5px 20px 0 0 var(--bg-color), 20px 20px 0 0 var(--bg-color), 25px 20px 0 0 var(--bg-color), 45px 20px 0 0 var(--bg-color), 50px 20px 0 0 var(--bg-color), 65px 20px 0 0 var(--bg-color), 5px 25px 0 0 var(--bg-color), 25px 25px 0 0 var(--bg-color), 30px 25px 0 0 var(--bg-color), 40px 25px 0 0 var(--bg-color), 45px 25px 0 0 var(--bg-color), 65px 25px 0 0 var(--bg-color), 5px 30px 0 0 var(--bg-color), 30px 30px 0 0 var(--bg-color), 35px 30px 0 0 var(--bg-color), 40px 30px 0 0 var(--bg-color), 65px 30px 0 0 var(--bg-color), 5px 35px 0 0 var(--bg-color), 65px 35px 0 0 var(--bg-color), 5px 40px 0 0 var(--bg-color), 10px 40px 0 0 var(--bg-color), 60px 40px 0 0 var(--bg-color), 65px 40px 0 0 var(--bg-color), 10px 45px 0 0 var(--bg-color), 15px 45px 0 0 var(--bg-color), 20px 45px 0 0 var(--bg-color), 25px 45px 0 0 var(--bg-color), 30px 45px 0 0 var(--bg-color), 35px 45px 0 0 var(--bg-color), 40px 45px 0 0 var(--bg-color), 45px 45px 0 0 var(--bg-color), 50px 45px 0 0 var(--bg-color), 55px 45px 0 0 var(--bg-color), 60px 45px 0 0 var(--bg-color);
  height: 5px;
  width: 5px;
}

.pixelart-linkedin {
  box-shadow: 25px 5px 0 0 var(--bg-color), 30px 5px 0 0 var(--bg-color), 35px 5px 0 0 var(--bg-color), 40px 5px 0 0 var(--bg-color), 45px 5px 0 0 var(--bg-color), 20px 10px 0 0 var(--bg-color), 25px 10px 0 0 var(--bg-color), 30px 10px 0 0 var(--bg-color), 35px 10px 0 0 var(--bg-color), 40px 10px 0 0 var(--bg-color), 45px 10px 0 0 var(--bg-color), 50px 10px 0 0 var(--bg-color), 15px 15px 0 0 var(--bg-color), 20px 15px 0 0 var(--bg-color), 30px 15px 0 0 var(--bg-color), 35px 15px 0 0 var(--bg-color), 40px 15px 0 0 var(--bg-color), 45px 15px 0 0 var(--bg-color), 50px 15px 0 0 var(--bg-color), 55px 15px 0 0 var(--bg-color), 10px 20px 0 0 var(--bg-color), 15px 20px 0 0 var(--bg-color), 20px 20px 0 0 var(--bg-color), 25px 20px 0 0 var(--bg-color), 30px 20px 0 0 var(--bg-color), 40px 20px 0 0 var(--bg-color), 45px 20px 0 0 var(--bg-color), 50px 20px 0 0 var(--bg-color), 55px 20px 0 0 var(--bg-color), 60px 20px 0 0 var(--bg-color), 10px 25px 0 0 var(--bg-color), 15px 25px 0 0 var(--bg-color), 20px 25px 0 0 var(--bg-color), 30px 25px 0 0 var(--bg-color), 50px 25px 0 0 var(--bg-color), 55px 25px 0 0 var(--bg-color), 60px 25px 0 0 var(--bg-color), 10px 30px 0 0 var(--bg-color), 15px 30px 0 0 var(--bg-color), 20px 30px 0 0 var(--bg-color), 30px 30px 0 0 var(--bg-color), 40px 30px 0 0 var(--bg-color), 45px 30px 0 0 var(--bg-color), 55px 30px 0 0 var(--bg-color), 60px 30px 0 0 var(--bg-color), 10px 35px 0 0 var(--bg-color), 15px 35px 0 0 var(--bg-color), 20px 35px 0 0 var(--bg-color), 30px 35px 0 0 var(--bg-color), 40px 35px 0 0 var(--bg-color), 45px 35px 0 0 var(--bg-color), 55px 35px 0 0 var(--bg-color), 60px 35px 0 0 var(--bg-color), 10px 40px 0 0 var(--bg-color), 15px 40px 0 0 var(--bg-color), 20px 40px 0 0 var(--bg-color), 30px 40px 0 0 var(--bg-color), 40px 40px 0 0 var(--bg-color), 45px 40px 0 0 var(--bg-color), 55px 40px 0 0 var(--bg-color), 60px 40px 0 0 var(--bg-color), 15px 45px 0 0 var(--bg-color), 20px 45px 0 0 var(--bg-color), 25px 45px 0 0 var(--bg-color), 30px 45px 0 0 var(--bg-color), 35px 45px 0 0 var(--bg-color), 40px 45px 0 0 var(--bg-color), 45px 45px 0 0 var(--bg-color), 50px 45px 0 0 var(--bg-color), 55px 45px 0 0 var(--bg-color), 20px 50px 0 0 var(--bg-color), 25px 50px 0 0 var(--bg-color), 30px 50px 0 0 var(--bg-color), 35px 50px 0 0 var(--bg-color), 40px 50px 0 0 var(--bg-color), 45px 50px 0 0 var(--bg-color), 50px 50px 0 0 var(--bg-color), 25px 55px 0 0 var(--bg-color), 30px 55px 0 0 var(--bg-color), 35px 55px 0 0 var(--bg-color), 40px 55px 0 0 var(--bg-color), 45px 55px 0 0 var(--bg-color);
  height: 5px;
  width: 5px;
}